html {
  box-sizing: border-box;
  margin: 0;
}

body {
  box-sizing: inherit;
  margin: inherit;
}

*,
::after,
::before {
  box-sizing: inherit;
}

* {
  outline: transparent;
  border: 1px transparent;
}

ul,
ol {
  padding: 0;
}

h1 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
